.split_left{
 height: 100%;
 width: 35%;
 position: fixed;
 top: 0;
 left:0;
 overflow-x: hidden;
 background-color: #0c1024;

}
.split_right{

 height: 100%;
 width: 65%;
 position: fixed;
 top:0;
 right: 0;
 overflow-x: hidden;
 background-color: #ebedf7;

}

.mat_accordian_send_message{

 background:#6573c3;
}

.mat_accordian_upload_file{
 background:#75c0c2;
}

.mat_accordian_my_files{
 background:#b2b9e1;
}

.mat_accordian_download_file{
 background:#3AAFA9;
}



.form_main {
   width: 100%;
}
  
.form {
   margin-right:10px;
   margin-left:10px;
   border-radius: 7px;
}
.txt[type="text"] {
   border: 1px solid #6B6E70;
   margin: 5px 0;

   padding: 10px 0 10px 5px;
   width: 100%;
}
.txt[type="password"] {
   border: 1px solid #6B6E70;
   margin: 10px 0;
   padding: 10px 0 10px 5px;
   width: 100%;
}
.txt_3[type="text"] {
   border: 1px solid #6B6E70;
   margin: 10px 0 0;
   padding: 10px 0 10px 5px;
   width: 100%;
}
.txt2[type="submit"] {
   background: #222629 none repeat scroll 0 0;
   border: 1px solid #FEFFFF;
   border-radius: 25px;
   color: #fff;
   font-size: 16px;
   font-style: normal;
   line-height: 35px;
   margin: 10px 0;
   padding-left: 20px;
   padding-right: 20px;
   text-transform: uppercase;
}



.txt:focus {
   outline: none !important;
   border:1px solid #222629;
}

.txt_3:focus {
 outline: none !important;
 border:1px solid #222629;
}

.txt2:hover {
   background: #6573c3 none repeat scroll 0 0;
   transition: all 0.5s ease 0s;
}

.left_button{
   background: #192048 none repeat scroll 0 0;
   border: 1px solid #FEFFFF;
   border-radius: 20px;
   color: #fff;
   font-size: 16px;
   font-style: normal;
   line-height: 35px;
   padding: 0;
   text-transform: uppercase;
   width: 90%;  
   margin:10px;
}

.left_button:hover {
   background: #2c387e none repeat scroll 0 0;
   transition: all 0.5s ease 0s;
}

.example-card {
 margin:5px;
 color:#474B45;
 background-color:white;
}

#card_header {
   font-weight: bold;
}

.file_name{
 color:white;
}


.example-margin {
 margin: 0 10px;
}

.icon-button{
 font-size: 15px;
 background: transparent;
 color: white;
}
.mat-icon-button{
 height: 15px;
 line-height: 0px;
}
.mat-expansion-panel-header-title{
 color: white;
 font-weight: bold;
}

.mat-list-item {
 font-size:15px;
}

.mat-card {
 margin: 10px;
}